body {
    background: white;
    width: 90%;
    margin: auto;
}

.topnav a {
  display: block;
  text-align: center;
}

.topnav .icon {
  display: none;
}

@media (max-width: 800px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav a.icon {display: block;}
  .topnav.responsive {position: absolute;}
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: right;
  }
  .topnav #under_ul {position: relative;}
}

main {
    display: block;
    background-color: lightgrey;
    column-count: 2;
    column-width: 500px;
    padding: 10px;
}

.information, .div_form {
    background: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: calc(100% - 40px);
}

img {
    max-width: 100%;
}

.form {
    background: lightgrey;
    padding: 10px;
    columns: 15em 2;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

td {
    border-bottom: 1px solid grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
}

li {
    float: left;
}

li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background: lightgrey;
    color: black;
}

#under_ul {
    display: none;
    position: absolute;
    background: gray;
}
#under_ul li{
    float: none;
}

li:hover #under_ul {
    display: block;
}

footer{
    clear: both;
    height: 10%;
    width: 100%;
    background: white;
    text-align: center;
}
footer div{
    width: 30%;
    text-align: center;
    display: inline-block;
    border-style: solid;
    margin: 1px;
}

.accordion {
  background-color: lightgrey;
  padding: 18px;
  width: 100%;
  border: none;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
