body {
    background-image: url("icon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
    margin: auto;
}
main {
    display: block;
    height: 80%;
    overflow-y: scroll;
    background-color: lightskyblue;
    padding: 5px;
}
img {
    max-width: 20%;
    height: auto;
}

.form {
    columns: 15em 2;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid lightskyblue;
  text-align: left;
  padding: 8px;
}

th {
    background: blue;
}

tr {
    background: lightblue;
}

tr:nth-child(2n) {
  background-color: lightskyblue;
}
nav {
    height: 80%;
    background-color: rgba(173,216,230,0.5);
    float: left;
    width:20%;
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}
#upper_ul {
    background-color: blue;
    padding: 0;
}
#under_ul {
    background-color: lightblue;
    padding 20px
}
footer {
    color: white;
    background-color: blue;
    text-align: center;
}
a {
    color: white;
}

li:hover {
    background-color: rgba(100,100,255,0.9);
}
